@tailwind base;
@tailwind components;
@tailwind utilities;

img{
    max-height:100%;
}
input, textarea, select{
    @apply  border border-gray-300 rounded-lg py-2 px-2 w-full;
    @apply shadow-sm;
    @apply mb-2;
}
input:focus, textarea:focus ,select:focus{
    @apply border-blue-900;
}
h1{
    @apply text-gray-800 mb-4 text-xl;
}
h2{
    @apply text-gray-600 mb-2 mt-6 text-lg;
}


label{
    @apply text-gray-600 text-sm;
}
.btn-primary{
    @apply bg-primary text-white px-4 py-1 rounded-lg ;
}
table.basic{
    @apply w-full bg-white rounded-lg shadow-sm;
}
table.basic thead tr td,
table.basic thead tr th
{
    @apply text-sm text-gray-600 uppercase border-b border-gray-200 px-4 py-2 flex-auto;
}
table.basic tr td{
    @apply px-4 py-1;
}
table.basic a{
    @apply  px-4 rounded-lg inline-flex mx-1 items-center gap-1 text-sm py-1;
}
.btn-default, .btn-red{
    @apply px-4 py-1 rounded-md;
}
.btn-red{
    @apply bg-red-200 text-red-600;
}
.btn-default{
    @apply bg-primary text-white;
}

